<?xml version="1.0" ?>
<launch>

<param name="use_sim_time" value="true" />
   
<param name="robot_description"
   command="$(find xacro)/xacro.py '$(find robotis_op_description)/robots/robotis_op.urdf.xacro'" />

<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/robocup14_spl_field.world"/>
    <arg name="paused" value="true"/>
  </include>

<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description
          -urdf
          -model robot_description
	  -x 0.5"
    respawn="false" output="screen" />

  <include file="$(find robotis_op_simulation_control)/launch/robotis_op_position_control.launch"/>








</launch>
